<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userService"
          class="com.qunar.campus.spring.tutorial.bean.lifecycle.base.UserService"/>

    <!-- 这里定义了init方法-->
    <bean id="beanWithInitDefinition"
          init-method="init"
          destroy-method="destroy"
          class="com.qunar.campus.spring.tutorial.bean.lifecycle.base.BeanWithInitDefinition"/>

    <!--
    但是如果通常情况下，我们不会使用配置的方式来定义bean，
    而是用之前的auto detected 和 auto-wire来
    也就是使用注解来注入，那如何配置呢？
    -->



</beans>