<div class="col-xs-12" ms-controller="form">
    <div class="form-group">
        <input type="text" ms-duplex="name">
        <button class="btn btn-info" ms-click="sayhi()">
            say hi
        </button>
    </div>
</div>

#include('inc/script.vm')

<script>
    var form = avalon.define('form', function(vm) {
        vm.name='$!{name}'

        vm.sayhi = function() {
            $.ajax("/sayhi.json", {
                type: "post",
                data: { name: vm.name },
                success: function(ret) {
                    if (ret.status != 0) {
                        error(ret.message)
                        return
                    }
                    message(ret.data)
                }
            })
        }
    })
</script>